#Nav {
	background-color: rgb(177, 204, 240, 0.9);
}

body {
	min-height: 100%;
}

#Body {
	font-family: 'Barlow', sans-serif;
	background-color: #f2f2f2;
}

#Nav a {
	color: black;
	font-size: 1.5em;
}

.Jumbo {
	background-size: cover;
	background-repeat: no-repeat;
	min-height: 500px;
	border-radius: 25px;
	background-position: 50% 50%;
	background-attachment: fixed;
	color: white;
	background-image: url(https://images.unsplash.com/photo-1531297484001-80022131f5a1?ixlib=rb-1.2.1&auto=format&fit=crop&w=1607&q=80);
}

.Jumbo1 {
	background-size: cover;
	background-repeat: no-repeat;
	min-height: 500px;
	border-radius: 25px;
	background-position: center top;
	background-attachment: fixed;
	color: white;
	background-image: url(https://images.unsplash.com/photo-1531297484001-80022131f5a1?ixlib=rb-1.2.1&auto=format&fit=crop&w=1607&q=80);
}


.container {
	margin-top: -3em;
	margin-bottom: -2em;
	width: 300px;
	border-radius: 25px;
	background-color: rgb(177, 204, 240, 0.9);
}


i {
	font-size: 2em;
}

.fa-html5 {
	color: #d12d00;
}

.Portfolio {
	border: 2px solid black;
	border-radius: 25px;
	background-color: rgb(177, 204, 240, 0.9);
}

.fa-github {
	color: black;
}

.fa-github:hover {
	color: blue;
	background-color: yellow;
	border-radius: 50px;
}

#Follow {
	margin-top: 6em;
}

#Follow a {
	font-size: 1.5em;
	margin: 2em;
}

.fa-css3-alt {
	color: #2fb7ed;
}

.fa-bootstrap {
	color: #7f38c7;
}